body {
    margin: 0;
    padding: 0;
    background-color: #d7d1c5;
    font-family: "Century Gothic", sans-serif;
    color: #a98148;
}

/*set default 0px margins for some tags*/
h1, h2, h3, h4, h5, h6, p, ul  {
    margin: 0;
    font-weight: normal;
}

/*set default link's style*/
a {
    text-decoration: none;
    color: #a98148;
}

a:hover {
    color: #cd9d58;
}

a:active {
    color: #e3921f;
}

a:visited {
    color: #a98148;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    background-color: #edece9;
}

/*--begin--*/
.header {
    position: relative;
    width: 960px;
    height: 352px;
    background: url("../img/header-banner.jpg") no-repeat center top;
    background-size: cover;
}

.header .logo {
    position: absolute;
    display: table;
    width: inherit;
    height: inherit;
}

.header .logo h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Attentica-4F", "Attentica4F-UltraLight", sans-serif;
    font-size: 72px;
    color: #fff;
}

/*navigation*/
.nav {
    position: absolute; bottom: -36px; left: 50%;
    display: table;
    margin-left: -420px;
    padding: 0;
    min-width: 840px;
    min-height: 72px;
    list-style: none;
    background-color: #a6967f;
    border: 1px solid #cbc3bc;
}

.nav li {
    display: table-cell;
    min-width: 100px;
    padding: 0 10px;
    border-right: 1px solid #cbc3bc;
    vertical-align: middle;
    text-align: center;
}

.nav li:last-child {
    background: url("../img/settings.png") no-repeat center center;
    min-width: 72px;
    border-right: none;
    cursor: pointer;
}

.nav .active, .nav li:hover {
    border-bottom: 6px solid #fff;
}

.nav a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

/*best-section*/
.best-section {
    padding-top: 70px;
    padding-bottom: 35px;
    background-color: #ddd;
}

.best-section .section-title {
    margin-left: 50px;
    font-family: "Artist-Modern", serif;
    font-size: 36px;
}

/*проверка работы гита*/





