/*--all pages--*/
.header {
    position: relative;
    width: 960px;
    height: 352px;
    background: url("../img/header-banner.jpg") no-repeat center top;
    background-size: cover;
}

.header .logo {
    position: absolute;
    display: table;
    width: inherit;
    height: inherit;
}

.header .logo h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Attentica-4F", "Attentica4F-UltraLight", sans-serif;
    font-size: 72px;
    color: #fff;
}

.nav {
    position: absolute; bottom: -36px; left: 50%;
    margin-left: -420px;
    width: 840px;
    height: 72px;
}

.footer {
    display: table;
    width: 960px;
    margin: 0 auto;
    padding: 25px 0;
    color: #edece9;
    font-size: 18px;
}

.footer-logo {
    display: table-cell;
    width: 160px;
    height: 46px;
    background: url("../img/site-elements/footer-logo.png") no-repeat right center;
    background-size: contain;
}

.copyright {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

/*--index.html--*/
/*best-section*/
.best-section {
    padding-top: 30px;
    padding-bottom: 35px;
    background-color: #ddd;
}

.best-section .content-spoiler-block {
    display: inline-block;
    margin-right: 22.2px;
    width: 220px;
    height: 168px;
    vertical-align: top;
}

.best-section .content-spoiler-block:last-child {
    margin-right: 0;
}

.best-section .photo-spoiler-block {
    background-image: url("../img/index/photo-miniatures/photo-example1.jpg");
}

.best-section .music-spoiler-block {
    background-image: url("../img/index/album-miniatures/ImagineDragonsNightVisions.jpg");
}

.best-section .story-spoiler-block p {
    color: #edece9;
    margin: 5px 10px;
}

.best-section .story-spoiler-block p a {
    color: #edece9;
    text-decoration: underline;
}

/*big-photo-section*/
.big-photo-section {
    position: relative;
    padding-bottom: 40px;
}

.big-photo-section .fotorama {
    margin: 0 130px;
}

.big-photo-section .semicircle-shape {
    top: 140px;
    margin-left: 25px;
}

.big-photo-section .semicircle-shape .circle,
.big-photo-section .semicircle-shape .square {
    background-color: #edece9;
}

/*recently-section*/
.recently-section {
    position: relative;
    padding-bottom: 40px;
    background-color: #ddd;
}

.recently-section .center-wrapper {
    position: relative;
    margin: 0 auto;
    width: 700px;
}

.recently-section .semicircle-shape {
    top: 110px;
    margin-left: 25px;
}

.recently-section .semicircle-shape .circle,
.recently-section .semicircle-shape .square {
    background-color: #ddd;
}

.recently-section .big-shape,
.recently-section .small-shape {
    background-color: #a6967f;
}

.recently-section .big-shape {
    display: inline-block;
    float: left;
    width: 220px;
    height: 352px;
    margin-right: 20px;
    padding-bottom: 10px;
    overflow: visible;
}

.recently-section .small-shape {
    float: right;
    width: 220px;
    height: 168px;
    margin-bottom: 16px;
    overflow: visible;
}

.recently-section .small-shape:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.recently-section .music-player-block {
    position: relative; top: -8px;
    width: 200px;
    height: inherit;
    margin: 0 auto;
}

.recently-section .big-shape:nth-child(1) .album-pic {
    background-image: url("../img/index/album-miniatures/ImagineDragonsNightVisions.jpg");
}

.recently-section .big-shape:nth-child(2) .album-pic {
    background-image: url("../img/index/album-miniatures/LinkinParkPapercut.jpg");
}

.recently-section .content-spoiler-block {
    position: relative; top: -8px; right: -10px;
    width: inherit;
    height: inherit;
}

.recently-section .photo-spoiler-block {
    background-image: url("../img/index/photo-miniatures/photo-example2.jpg");
}

/*connectors*/
.recently-section .big-shape:after {
    content: "";
    display: block;
    position: absolute; left: 220px; bottom: 0; z-index: 0;
    width: 20px;
    height: 30px;
    background-color: #a6967f;
}

.recently-section .big-shape:before {
    content: "";
    display: block;
    position: absolute; left: 460px; top: 0; z-index: 0;
    width: 20px;
    height: 30px;
    background-color: #a6967f;
}

.recently-section .small-shape:after {
    content: "";
    display: block;
    position: absolute; right: 0; top: 168px; z-index: 0;
    width: 30px;
    height: 8px;
    background-color: #a6967f;
}

















