body {
    margin: 0;
    padding: 0;
    background-color: #d7d1c5;
    font-family: "Century Gothic", sans-serif;
    color: #a98148;
}

/*set default 0px margins for some tags*/
h1, h2, h3, h4, h5, h6, p, ul  {
    margin: 0;
    font-weight: normal;
}

/*set default link's style*/
a {
    text-decoration: none;
    color: #a98148;
}

.condition-checkbox {
    display: none;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    background-color: #edece9;
}

/*--begin--*/
.header {
    position: relative;
    width: 960px;
    height: 352px;
    background: url("../img/header-banner.jpg") no-repeat center top;
    background-size: cover;
}

.header .logo {
    position: absolute;
    display: table;
    width: inherit;
    height: inherit;
}

.header .logo h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: "Attentica-4F", "Attentica4F-UltraLight", sans-serif;
    font-size: 72px;
    color: #fff;
}

/*navigation*/
.nav {
    position: absolute; bottom: -36px; left: 50%;
    display: table;
    margin-left: -420px;
    padding: 0;
    width: 840px;
    height: 72px;
    list-style: none;
    background-color: #a6967f;
    border: 1px solid #cbc3bc;
}

.nav li {
    display: table-cell;
    min-width: 100px;
    padding: 0 10px;
    border-right: 1px solid #cbc3bc;
    vertical-align: middle;
    text-align: center;
}

.nav li:last-child {
    background: url("../img/site-elements/settings.png") no-repeat center center;
    min-width: 72px;
    border-right: none;
    cursor: pointer;
}

.nav .active, .nav li:hover {
    border-bottom: 6px solid #fff;
}

.nav a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

/*best-section*/
.best-section {
    padding-top: 70px;
    padding-bottom: 35px;
    background-color: #ddd;
}

.best-section .section-title {
    margin-bottom: 30px;
    margin-left: 50px;
    font-family: "Artist-Modern", serif;
    font-size: 36px;
}

.best-section .content-block {
    position: relative;
    display: inline-block;
    margin-right: 22.2px;
    width: 220px;
    height: 168px;
    overflow: hidden;
    vertical-align: top;
    background-color: #a6967f;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 12px;
}

.best-section .content-block:last-child {
    margin-right: 0;
}

.best-section .photo-block {
    background-image: url("../img/index/photo-miniatures/photo-example1.jpg");
}

.best-section .music-block {
    background-image: url("../img/index/album-miniatures/ImagineDragonsNightVisions.jpg");
}

.best-section .story-block p {
    color: #edece9;
    margin: 5px 10px;
}

.best-section .story-block p a {
    color: #edece9;
    text-decoration: underline;
}

.best-section .description-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #edece9;
    cursor: pointer;
}

.description-bg div {
    text-align: center;
}

.description-bg .content-block-title {
    margin-top: 8px;
    height: 20px;
}

.description-bg .open-arrow-pic {
    width: 100%;
    height: 7px;
    background: url("../img/site-elements/open-arrow-pic.png") no-repeat center center;
    background-size: contain;
}

/*condition of .description-bg vision*/
.content-block .condition-checkbox:not(:checked) + .description-bg {
    top: 138px;
}

.content-block .condition-checkbox:checked + .description-bg {
    top: 22px;
}

.content-block .condition-checkbox:not(:checked) + .description-bg:hover {
    top: 128px;
}

.content-block .condition-checkbox:not(:checked) + .description-bg .open-arrow-pic {
    display: none;
}

.content-block .condition-checkbox:not(:checked) + .description-bg:hover .open-arrow-pic {
    display: block;
}

.content-block .condition-checkbox:checked + .description-bg .open-arrow-pic {
    display: block;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*end: condition of .description-bg visibility*/

.description-bg .attentica-content-title {
    margin-top: 10px;
    font-family: "Attentica-4F", "Attentica4F-UltraLight", serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.description-bg .author {
    margin-top: 20px;
}

.description-bg .username-title {
    font-weight: bold;
}

.description-bg .username-title:hover {
    text-decoration: underline;
}

.description-bg .likes {
    float: left;
    padding: 10px;
}

.description-bg .likes .like-pic {
    float: left;
    width: 22px;
    height: 22px;
    background: url("../img/site-elements/like-pic.png") no-repeat center center;
    background-size: 95%;
}

.description-bg .likes .like-pic:hover {
    background-size: 100%;
}

.description-bg .likes .like-pic:active {
    background: url("../img/site-elements/like-pic_active.png") no-repeat center center;
}

.description-bg .likes .like-counter {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-family: "Attentica-4F", "Attentica4F-UltraLight", serif;
    font-size: 22px;
    font-weight: bold;
}

.description-bg .more-info {
    float: right;
    padding: 10px;
}

.description-bg .more-info:hover {
    color: #e3921f;
}

.description-bg .more-info:hover .more-pic {
    background-size: 100%;
}

.description-bg .more-info .more-pic {
    float: right;
    width: 22px;
    height: 22px;
    background: url("../img/site-elements/more-pic.png") no-repeat center center;
    background-size: 95%;
}

.description-bg .more-info .more-link {
    vertical-align: middle;
    font-size: 10px;
    margin-right: 5px;
}

.description-bg .more-info:active .more-pic {
    background: url("../img/site-elements/more-pic_active.png") no-repeat center center;
}

.description-bg .music-author-title {
    position: absolute;
    width: 100%;
    text-align: center;
}

.big-photo-section {
    position: relative;
    padding: 40px 0;
}

.big-photo-section .fotorama {
    margin: 0 130px;
}

/*semicircle-shape*/
.semicircle-shape {
    position: absolute;
    width: 160px;
    height: 110px;
    overflow: hidden;
}

.semicircle-shape .square {
    position: relative;
    float: left;
    width: 105px;
    height: inherit;
    background-color: #edece9;
    overflow: visible;
    white-space: nowrap;
    z-index: 10;
}

.semicircle-shape .circle {
    position: absolute; left: 50px; top: 1px;
    float: left;
    width: 94px;
    height: 94px;
    background-color: #edece9;
    border-radius: 50%;
    border: 7px solid #a6967f;
    z-index: 5;
}

.semicircle-shape .author-title {
    margin-top: 20px;
    font-family: "Attentica-4F", "Attentica4F-UltraLight", serif;
    font-size: 36px;

}

.semicircle-shape .section-title, .semicircle-shape .subsection-title {
    font-size: 15px;
    line-height: 15px;
}
/*end: semicircle-shape*/

.big-photo-section .semicircle-shape {
    top: 90px;
    margin-left: 25px;
}

.recently-section {
    position: relative;
    background-color: #ddd;
}



















